<header class="fixed">
    <div>
        <img src="./assets/LOGO/logo.png" alt="Falseflix logo">
        <nav>
            <ol>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/">TV Series</a></li>
                <li><a routerLink="/">Favourites</a></li>
                <li><a routerLink="/">About</a></li>
                <li><a routerLink="/"><img src="./assets/Icons/bell-3-32.png" alt="notifications icon"></a></li>
                <li><a routerLink="/"><img src="./assets/Icons/zoom-32.png" alt="search icon"></a></li>
            </ol>
        </nav>
    </div>
</header>