<header class="fixed">
    <div class="flex">
        <img src="./assets/LOGO/logo.png" alt="Falseflix logo">
        <nav class="flex">
            <ol class="flex">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/tvseries">TV Series</a></li>
                <li><a routerLink="/favourites">Favourites</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/notifications"><img src="./assets/Icons/bell-3-32.png" alt="notifications icon"></a></li>
                <li><a routerLink="/search"><img src="./assets/Icons/zoom-32.png" alt="search icon"></a></li>
            </ol>
        </nav>
    </div>
</header>