header {
    padding: 20px;
    div {
        padding: 0 10px 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img {
            height: 80px;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        ol {
            display: flex;
            list-style: none;
            justify-content: space-between;
            li {
                font-size: smaller;
                text-transform: uppercase;
                margin: 0 20px 0 20px;
                img {
                    height: 15px;
                }
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}