* {
    text-transform: uppercase;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}
section {
    padding: 0 20px;
    .movies {
        display: flex;
        flex-direction: column;
    }
    .movies-container {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            padding-inline-start: 0;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            li {
                display: flex;
                flex-direction: row;
                position: relative;
                overflow: scroll;
                img {
                    width: 200px;
                    height: auto;
                    cursor: pointer;
                }
                &:hover {
                    transform: scale(1.1);
                } 
            }
        }
    }
}       